/*
 * Toxic Metals Detox Clinic, Melbourne
 * 2016
 */

body,
html {
    width: 100%;
    height: 100%;
	background-color: #4a4745;
}

@font-face {font-family: "Century Gothic V1";
  src: url("../fonts/centurygothicv1.eot"); /* IE9*/
  src: url("../fonts/centurygothicv1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/centurygothicv1.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/centurygothicv1.woff") format("woff"), /* chrome、firefox */
  url("../fonts/centurygothicv1.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/centurygothicv1.svg#Century Gothic V1") format("svg"); /* iOS 4.1- */
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
	font-family: 'Century Gothic V1', 'Century Gothic',  serif;
	font-weight: bold;
	line-height: 1.2;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

p, li {
	font-size: 25px;
}

a {
	color: #000000;
	font-weight: bold;
}

@media (max-width: 768px) {
	h1 {
	font-size: 30px;
	}

	h2 {
	font-size: 20px;
	}

	h3 {
	font-size: 16px;
	}

	h4 {
	font-size: 14px;
	}

	p, li {
	font-size: 15px;
	}
}


a:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
	color: #47bcc3;
}

ul {
	list-style: square outside none;
}

.navbar-default {
	background: #ffffff;
	border-bottom: 10px solid #ADA190;
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	background: url(../images/logo.jpg) no-repeat top left;
	height: 120px;
	width: 120px;
}

@media (min-width: 768px){
	.navbar-header {
		float: none;
	}
}

.navbar>.container-fluid .navbar-brand {
	margin-left: ;
}

.navbar>.container-fluid .title {
	background: url(../images/header.jpg) no-repeat top left;
	height: 120px;
	margin: 0 0 0 120px;
}

@media (min-width: 768px){
	.navbar>.container-fluid .title {
		background: url(../images/header.jpg) no-repeat top left;
		margin: 0px 0 0 0px;
		float: left;
		width: 240px;
	}
}

.navbar>.container-fluid .contact{
	float: left;
	width: 240px;
	margin-top: 0px;
	margin-left: 135px;
	color:	#4298B5;
}

@media (min-width: 768px){
	.navbar>.container-fluid .contact{
	margin-top: 20px;
	float: right;
	}
}

.navbar>.container-fluid p{
    margin-top: 0px;
	margin-bottom: 0px;
}

.navbar>.container-fluid .contact p:nth-child(2){
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color:	#ADA190;
}

.navbar>.container-fluid .contact .number{
	font-size: 28px;
}

@media (max-width: 768px) {
	.navbar>.container-fluid .contact .number{
	font-size: 20px;
}
}

.no-gutter>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.vcenter {
    display: table-cell;
    vertical-align: middle;
}

.intro-header {
    padding-top: 200px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    background: url(../images/black-brick-wall-2.jpg) no-repeat center center;
    background-size: cover;
}

@media (min-width: 768px) {
	.intro-header {
		padding-top: 230px;
	}
}

@media (min-width: 992px) {
	.intro-header {
		padding-top: 200px;
	}
}

.intro-header .tag-1, .intro-header .tag-2 {
	display: inline;
}

.intro-header .tag-1 {
	color: #ADA190;
	font-size: 50px;
}

.intro-header .tag-2 {
	font-weight: normal;
	color: #4298B5;
	font-size: 50px;
}

.intro-header img{
    padding: 5% 0;
	margin: 0 auto;
}

.intro-header .video{
	max-width: 400px;
	padding-top: 5%;
	margin: 0 auto;
}

.intro-header .clinic-tag {
	padding-top: 40px;
}

.intro-header .clinic-tag p{
	font-size: 35px;
	color: #ffffff;
}

.content-section-1 {
    background-color: #4a4745;
}

.content-section-1 .image {
	background: url(../images/happy-woman.jpg) no-repeat center center;
    background-size: cover;
	min-height: 600px;
}

@media (max-width: 768px){
	.content-section-1 .image {
		min-height: 400px;
	}
}

.content-section-1 .panel {
	background: url(../images/logo-watermark.png) no-repeat right bottom;
	background-color: #ffffff;
	border-left: 10px solid #4298B5;
	border-right: 0 solid transparent;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-radius: 0px;
	box-shadow: none;
	padding: 15px;
	color: #000000;
	margin:	0;
	min-height: 600px;
	display: table;
}

@media (max-width: 768px){
	.content-section-1 .panel {
		min-height: 400px;
	}
}

@media (max-width: 767px){
	.content-section-1 .panel {
		border-right: 0 solid transparent;
		border-left: 0 solid transparent;
		border-top: 10px solid #47bcc3;
		border-bottom: 0 solid transparent;
	}
}

.content-section-1 li {
	padding-bottom: 10px;
}

.content-section-2 {
    background-color: #4a4745;
}

.content-section-2 .image {
	background: url(../images/couple.jpg) no-repeat center center;
    background-size: cover;
	min-height: 600px;
}

@media (max-width: 768px){
	.content-section-2 .image {
		min-height: 400px;
	}
}

.content-section-2 .panel {
	background-color: #a9e5e5;
	border-right: 10px solid #ADA190;
	border-left: 0 solid transparent;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-radius: 0px;
	box-shadow: none;
	padding: 15px;
	color: #000000;
	margin:	0;
	min-height: 600px;
	display: table;
}

@media (max-width: 768px){
	.content-section-2 .panel {
		min-height: 400px;
	}
}

@media (max-width: 767px){
	.content-section-2 .panel {
		border-right: 0 solid transparent;
		border-left: 0 solid transparent;
		border-top: 10px solid #ADA190;
		border-bottom: 0 solid transparent;
	}
}

.content-section-2 li {
	padding-bottom: 10px;
}

.content-section-3 .image {
	background: url(../images/city-bg.jpg) no-repeat center center;
    background-size: cover;
	min-height: 600px;
}

@media (max-width: 768px){
	.content-section-3 .image {
		min-height: 400px;
	}
}

.content-section-3 .panel {
	background-color: #ffffff;
	border-left: 10px solid #a9e5e5;
	border-right: 0 solid transparent;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-radius: 0px;
	box-shadow: none;
	padding: 15px;
	color: #000000;
	margin:	0;
	min-height: 600px;
	display: table;
}

@media (max-width: 768px){
	.content-section-3 .panel {
		min-height: 400px;
	}
}

@media (max-width: 767px){
	.content-section-3 .panel {
		border-right: 0 solid transparent;
		border-left: 0 solid transparent;
		border-top: 10px solid #a9e5e5;
		border-bottom: 0 solid transparent;
	}
}

.content-section-4 .image {
	background: url(../images/unhappy-man.jpg) no-repeat center center;
    background-size: cover;
	min-height: 600px;
}

@media (max-width: 768px){
	.content-section-4 .image {
		min-height: 400px;
	}
}

.content-section-4 .panel {
	background-color: #bdbbb9;
	border-right: 10px solid #ADA190;
	border-left: 0 solid transparent;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-radius: 0px;
	box-shadow: none;
	padding: 15px;
	color: #000000;
	margin:	0;
	min-height: 600px;
	display: table;
}

@media (max-width: 768px){
	.content-section-4 .panel {
		min-height: 400px;
	}
}

@media (max-width: 767px){
	.content-section-4 .panel {
		border-right: 0 solid transparent;
		border-left: 0 solid transparent;
		border-top: 10px solid #ADA190;
		border-bottom: 0 solid transparent;
	}
}

.content-section-4 .panel ul{
	margin-left: 34px;
}
    

.content-section-5 .image {
	background: url(../images/support-o.jpg) no-repeat center center;
    background-size: cover;
	min-height: 600px;
}

@media (max-width: 768px){
	.content-section-5 .image {
		min-height: 400px;
	}
}

.content-section-5 .panel {
	background-color: #a9e5e5;
	border-right: 10px solid #4298B5;
	border-left: 0 solid transparent;
	border-top: 0 solid transparent;
	border-bottom: 0 solid transparent;
	border-radius: 0px;
	box-shadow: none;
	padding: 15px;
	color: #000000;
	margin:	0;
	min-height: 600px;
	display: table;
}

@media (max-width: 768px){
	.content-section-5 .panel {
		min-height: 400px;
	}
}

@media (max-width: 767px){
	.content-section-5 .panel {
		border-right: 0 solid transparent;
		border-left: 0 solid transparent;
		border-top: 10px solid #4298B5;
		border-bottom: 0 solid transparent;
	}
}

.content-section-6 {
	background: url(../images/logo-watermark.png) no-repeat center center;
	background-color: #ffffff;
	padding-top: 20px;
	min-height: 600px;
}

@media (max-width: 768px) {
	.content-section-6 { 
		min-height: 450px;
	}
}

.name {
		display: inline;
	}
	
@media (min-width: 768px) {
	.name {
		display: inline;
		line-height: 1.8;
	}
}

.qualifications {
	font-size: 16px;
	display: inline;
	line-height: 1.8;
}

@media (max-width: 768px) {
	.qualifications {
		font-size: 10px;
	}
}

.titles { 
	margin-top: 0;
}

.clinic-info p{
	font-size: 18px;
}

@media (max-width: 768px){
	.clinic-info p{
		font-size: 12px;
	}
}


.clinic {
	
}

@media (min-width: 768px) {
	.c-number {
		display: inline;
		line-height: 1.8;
		padding-right: 10px;
	}
}

.professional-logos img {
	display: inline;
}

.map {
	padding-bottom: 20px;
}

footer {
	padding: 20px 0;
	background:#ADA190;
}

footer p{
	font-size: 12px;
}

footer a {
	color: #742C50;
	font-weight: bold;
}

footer a:hover, footer a:focus {
	text-decoration: none;
	color: #ffffff;
}
